<template>
  <!-- <div id="app">

  </div> -->
  <div class="container mb-5">

    <!-- Workshop 1 -->

    <img alt="Vue logo" src="./assets/logo.png">

    <h2 align="center">WorkShop #1 - Limit Message</h2>
    <hr>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" v-text="max-message.length"></span>
      </div>
      <input type="text" class="form-control" v-model="message" :maxlength="max">
    </div>


    <!-- Workshop 2 -->

    <h2 align="center" class="mt-5">WorkShop #2 - Preview Image</h2>
    <hr>
    <div v-if="!image">
      <input type="file" class="form-control" @change="onFileChange">
    </div>
    <div v-else>
      <img :src="image" class="img-fluid">
      <hr>
      <button @click="removeImage" class="btn btn-danger">Remove</button>
    </div>


    <!-- Workshop 3 -->

    <h2 align="center" class="mt-5">WorkShop #3 - คำนวณราคาสินค้า</h2>
    <hr>
    <div class="row">
      <div class="col-md-2" v-for="item in products">
        <div class="card h-100">
          <img :src="item.image" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{ item.name }}</h4>
            <p class="card-text">ราคา {{ item.price }} บาท</p>
          </div>
          <div class="card-footer">
            <!-- <input @change="selected(item)" type="checkbox" class="form-check-input"> -->
            <button @click="addCart(item)" class="btn btn-primary">หยิบลงตระกร้า</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <!-- <h2>ยอดเงินชำระ {{ total() }} บาท</h2> -->

        <h4>ตะกร้าสินค้า</h4><hr>

        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">ภาพ</th>
              <th scope="col">ชื่อ</th>
              <th scope="col">ราคา</th>
              <th scope="col">จำนวน</th>
              <th scope="col">ยอดรวม</th>
              <th scope="col">ลบ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in carts">
               <td><img :src="product.image" width="60" height="80"></td>
               <td>{{ product.name }}</td>  
               <td>{{ product.price }}</td>
               <td>{{ product.qty }}</td>
               <td>{{ product.total }}</td>
               <td><button>ลบ</button></td>
            </tr>
            
          </tbody>
        </table>



      </div>
    </div>



  </div>
</template>

<script>
  export default {
    name: 'App',
    data() {
      return {
        // Workshop 1
        message: "",
        max: 50,

        // Workshop 2
        image: "",

        // Workshop 3
        products: [{
            id: 1,
            name: "กาแฟเย็น",
            price: 30,
            image: "https://img.kapook.com/u/2016/surauch/Health/coffee7_1.jpg",
            active: false
          },
          {
            id: 2,
            name: "ชาเย็น",
            price: 35,
            image: "https://sv1.picz.in.th/images/2019/06/11/1T2Q9v.jpg",
            active: false
          },
          {
            id: 3,
            name: "ชามะนาว",
            price: 50,
            image: "https://img.wongnai.com/p/400x0/2018/08/14/c03957a6aa6645da92cc811a25140d21.jpg",
            active: false
          }
        ],
        carts:[],
        coffee:0,
        tea:0,
        lemon:0

      }
    },
    methods: {
      onFileChange(e) {
        var files = e.target.files
        if (!files.length)
          return
        this.createImage(files[0])
      },
      createImage(files) {
        var reader = new FileReader()
        reader.onload = (e) => {
          this.image = e.target.result
        }
        reader.readAsDataURL(files)
        console.log(this.image)
      },
      removeImage() {
        this.image = ''
      },
      // selected(item) {
      //   item.active = !item.active
      // },
      // total(){
      //   var sum = 0;
      //   this.products.forEach(function(item){
      //     if(item.active){
      //       sum += item.price
      //     }
      //   })
      //   return sum
      // }
      addCart(item){
        if(item.id == 1){
          this.coffee += 1
            if(this.coffee<=1){
              this.pushData(item)
          } else {
            var found = this.findIndex(item)
            this.carts[found].qty +=1
            this.carts[found].total = this.carts[found].qty*this.carts[found].price
          }
        }
        if (item.id == 2){
          this.tea += 1
          if(this.tea<=1){
              this.pushData(item)
          } else {
            var found = this.findIndex(item)
            this.carts[found].qty +=1
            this.carts[found].total = this.carts[found].qty*this.carts[found].price
          }
        }
        if (item.id == 3){
          this.lemon += 1
          if(this.lemon<=1){
              this.pushData(item)
          } else {
            var found = this.findIndex(item)
            this.carts[found].qty +=1
            this.carts[found].total = this.carts[found].qty*this.carts[found].price
          }
        }
      },
      pushData(item){
        this.carts.push({
              id: item.id,
              name: item.name,
              price: item.price,
              image: item.image,
              qty: 1,
              total: item.price
            })
      },
      findIndex(item){
        for(var i = 0 ; i < this.carts.length ; i++){
          if(this.carts[i].id == item.id){
            return i
          }
        }
        return -1
      }
    },
  }
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>